{% extends "layouts/taskLayout.html" %}
{% block content %}
    <main class="space-y-3">
        <h2 class="text-lg font-semibold">Your Tasks:</h2>
        {% from "macros/_alert.html" import render_alert %}
        {{ render_alert() }}
        <section class="flex gap-6 flex-wrap">
        {% if tasks %}
        {% for task in tasks %}
            <article 
                class="bg-neutral-800 flex flex-col 
                justify-between w-full max-w-64 px-3 pt-2 gap-3 pb-6 rounded-md"
            >
                <h4 class="text-lg font-semibold {% if task.isDone %} line-through	{% endif %}  ">{{ task.title }}</h4>
                <div class="flex h-full items-start">
                    <p class="text-sm">{{ task.content }}</p>
                </div>
                <ul class="text-sm flex justify-center gap-4">
                    {% from "macros/_cardLink.html" import render_cardLink %}
                    {{ render_cardLink(href="task.update", label="Edit", class="text-yellow-900 bg-yellow-500", task_id=task.id) }}
                    {{ render_cardLink(href="task.delete", label="Remove", class="text-red-900 bg-red-500", task_id=task.id) }}
                    {% set label = "Work" if task.isDone else "Finish" %}
                    {% set class = "bg-amber-500 text-amber-900" if task.isDone else "bg-green-500 text-green-900" %}
                    {{ render_cardLink(href="task.change_status", label=label, class=class, task_id=task.id) 
                    }}
                </ul>
            </article>
        {% endfor %}
        {% else %}
            <span 
            class="text-sm flex gap-3"
            >
                You have no tasks at the moment:
                {% from "macros/_navLinks.html" import render_navLinkCreate %}
                {{ render_navLinkCreate(href="task.create") }}
            </span>
        {% endif %}
        </section>    
        </main>
{% endblock content %}